use nix
layout python3
if [ -f install/requirements-dev.txt ]; then
  watch_file install/requirements-dev.txt
  pip install -r install/requirements-dev.txt
  pip install --force-reinstall --no-binary pi-heif pi-heif
fi